.headerLink {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    margin: 35px;
    padding: 8px;
    border-radius: 6px;
    transition-duration: 0.45s;
}

.headerLink:hover {
    background-color: #f5d7f1;
    /* border-bottom: 3px solid; */
}

.logo:hover {
    background-color: none!important;
}