html, body {
    margin: 0;
    overflow-x: hidden;
}

body {
    color: #fadbff;
    text-align: center;
    padding-top: 90px;
    overflow-y: auto;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.3em;
    text-align: justify;
}