html, body {
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: rgb(0, 30, 57);
    color: #fadbff;
    text-align: center;
    margin-bottom: 100px;
    padding-top: 75px;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

p {
    font-size: 1.3em;
    text-align: justify;
}